.object-functions {
  overflow: auto;

  &-title {
    height: 25px;
    max-width: 95%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: auto;
  }

  form {
    max-width: 500px;
  }

  .email-field {
    width: 100%;
  }

  a {
    color: wheat; // rando color that is visible
    display: block;
  }
}
