<mat-card class='object-functions'>
  <mat-card-title class='object-functions-title' [title]='key'>{{ key }}</mat-card-title>
  <mat-card-subtitle>{{ bucket }}</mat-card-subtitle>
    <mat-card-content>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Generate Link
          </mat-panel-title>
        </mat-expansion-panel-header>
      <form [formGroup]="form">
        <mat-form-field class='email-field'>
          <input matInput placeholder="Email" type="email" formControlName="email">
        </mat-form-field><br>
        <mat-form-field>
          <input formControlName="limit"
            matInput placeholder="Download Limit" type="number" min="1" max="999"
            value="1">
        </mat-form-field><br>
        <button mat-button (click)="generateLink()">Generate</button>
        <button mat-button disabled>Send</button>
        <ul>
          <li *ngFor="let link of downloadLinks">
            <a [href]='link' target="link">{{link}}</a>
          </li>
        </ul>
      </form>
    </mat-expansion-panel>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="downloadFile()">Download File</button>
    <button mat-button (click)="close.emit()">Close</button>
  </mat-card-actions>
</mat-card>
