
.list-objects {
  height: 100%;
  position: relative;

  &-table {
    width: 100%;

    tr {
      max-height: 48px;
    }

    td.mat-cell {
      padding: 0 10px;
      height: 48px;
    }

    td.key {
      max-width: 150px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .mat-drawer-opened {
    min-width: 300px;
  }

  &-functions {
    overflow: auto;
    height: 100%;
    width: 0;

    .mat-drawer {
      position: fixed;
      top: 0;
      right: 0;
    }
  }

}
